<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houston Class Project</title>
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the {{welcome}}</h1>
        <nav>
            <a href='/'>Home</a>
            <a href='/jquery/'>jQuery Fun</a>
            <a href='/admin/'>Admin Panel</a>
        </nav>
    </header>
    <div class='main'>
        <img src="{% static 'images/dojoNinja.png' %}" alt="Coding Dojo Ninja" />
        <h3>Below you will find links to the different apps that we have created. Have fun.</h3>
        <div class='apps'>
            <div class='theApp'>
                <h4>Zoo App</h4>
                <p>Head over to our Zoo App to see what our Zoo is up too.</p>
                <a href='zooApp/'><button>Zoo App</button></a>
            </div>
            <div class='theApp'>
                <h4>Guessing Game App</h4>
                <p>Want to play a guessing game?</p>
                <a href='gameApp/'><button>Guessing Game App</button></a>
            </div>
        </div>
    </div>
    <footer>
        {% for p in footer %}
        <p>{{p}}</p>
        {% endfor %}
    </footer>
</body>
</html>