<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
        </nav>
    </header>
    <div class='main'>
        <div class='list'>
            {% for zoo in zoos %}
                <section class='zoo'>
                    <h3>Animals at the {{zoo.zooName}}</h3>
                    <section class='all'>
                        {% for animal in zoo.animals.all %}
                        <section class='one'>
                            <h4>{{animal.animalName}}</h4>
                            <h5>{{animal.animalType}}</h5>
                            <h5>{{animal.animalBirth}}</h5>
                            <a href='/zoo/{{animal.id}}/editAnimal/'>Edit Animal</a>
                        </section>
                    {% endfor %}
                    </section>
                </section>
            {% endfor %}
        </div>
        <div class='add'>
            <form action='/zoo/createAnimal/' method='post'>
                {% csrf_token %}
                <section class='row'>
                    <label for='animalName'>Animal Name: </label>
                    <input type='text' id='animalName' name='animalName'>
                </section>
                <section class='row'>
                    <label for='animalType'>Animal Type: </label>
                    <input type='text' id='animalType' name='animalType'>
                </section>
                <section class='row'>
                    <label for='animalBirth'>Animal BirthDay: </label>
                    <input type='date' id='animalBirth' name='animalBirth'>
                </section>
                <section class='row'>
                    <label for='zoo'>Select the Zoo: </label>
                    <select name='zoo' id='zoo'>
                        {% for zoo in zoos %}
                        <option value='{{zoo.id}}'>{{zoo.zooName}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Add New Animal</button>
            </form>
        </div>
    </div>
</body>
</html>