<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
            <a href='/zoo/theShows/'>Shows's</a>
        </nav>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </header>
    <div class='main'>
        <div class='list'>
            {% for zoo in zoos %}
                <section class='zoo'>
                    <h3>Shows at the {{zoo.zooName}}</h3>
                    <section class='all'>
                        {% for show in zoo.shows.all %}
                        <section class='one'>
                            <h4>{{show.showName}}</h4>
                            <a href='/zoo/{{show.id}}/editShow/'>Edit Show</a>
                        </section>
                    {% endfor %}
                    </section>
                </section>
            {% endfor %}
        </div>
        <div class='add'>
            <form action='/zoo/createShow/' method='post'>
                {% csrf_token %}
                <section class='row'>
                    <label for='showName'>Show Name: </label>
                    <input type='text' id='showName' name='showName'>
                </section>
                <section class='row'>
                    <label for='zoo'>Select the Zoo: </label>
                    <select name='zoo' id='zoo'>
                        {% for zoo in zoos %}
                        <option value='{{zoo.id}}'>{{zoo.zooName}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Add New Show</button>
            </form>
        </div>
    </div>
</body>
</html>