<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editEmployee.firstName}} {{editEmployee.lastName}}</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
        </nav>
    </header>
    <div class='main'>
        <form action='/zoo/{{ editEmployee.id }}/updateEmployee/' method='post'>
            {% csrf_token %}
            <section>
                <label for='firstName'>First Name:</label>
                <input type='text' name='firstName' id='firstName' value="{{editEmployee.firstName}}">
            </section>
            <section>
                <label for='lastName'>Last Name:</label>
                <input type='text' name='lastName' id='lastName' value="{{editEmployee.lastName}}">
            </section>
            <section>
                <label for='email'>Email:</label>
                <input type='email' name='email' id='email' value="{{editEmployee.email}}">
            </section>
            <section>
                <label for='animalZoo'>Select the Zoo: </label>
                <select name='zoo_id' id='zoo_id'>
                    {% for zoo in zoos %}
                    <option value='{{zoo.id}}'>{{zoo.zooName}}</option>
                    {% endfor %}
                </select>
            </section>
            <button>Save Edits</button>
        </form>
        <a href='/zoo/{{ editEmployee.id }}/deleteEmployee/'><button>Delete Employee</button></a>
    </div>
</body>
</html>