<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Home</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Official Zoo App</h1>
        <nav>
            <a href='/zoo/'>Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
        </nav>
    </header>
    <div class='main'>
        
    </div>
    <footer>

    </footer>
</body>
</html>