<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Home</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Official Zoo App</h1>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
            <a href='/zoo/theShows/'>Shows</a>
            <a href='/zoo/theShops/'>Shops</a>
        </nav>
    </header>
    <div class='main'>
        <h2>Amazon Career Choice Zoo Organization</h2>
        <p>Here you will be able to see the different Zoo's that we have in our organization as well as the animals that are at each zoo.</p>
        <p>We have created a way for you to add your own Zoo, Animals, and Employee's</p>
    </div>
    <footer>

    </footer>
</body>
</html>