.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5f9ea0;
  color: #000;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84e2e6b7;
  margin: 1em;
  padding: 1em;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav a {
  color: #4b4848;
  text-decoration: none;
  padding: 0.5em;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .main .all .one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84e2e6b7;
  margin: 0.5em;
  padding: 1em;
  border: 3px groove #5f9ea0;
}
body .main .all .one a {
  color: #4b4848;
  text-decoration: none;
  padding: 0.5em;
}
body .main .add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .add form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .add form .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .add form .row label {
  margin: 1em;
}
body .main .add form button {
  background-color: #84e2e6b7;
}
