<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Zoo Animals</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/zooStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Main Project Home</a>
            <a href='/zooApp/'>Zoo Home</a>
            <a href='/zooApp/form/'>Become a Member</a>
            <a href='/zooApp/the-shop/'>The Ninja Shop</a>
            <a href='/zooApp/animals/'>Meet the Animals</a>
        </nav>
    </header>
    <div class='main'>
        <h2>Meet all our Animals</h2>
        <div class='animals'>
            {% for animals in allAnimals %}
            <div class='animal'>

            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>