<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ninja Shop</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/zooStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Main Project Home</a>
            <a href='/zooApp/'>Zoo Home</a>
            <a href='/zooApp/form/'>Become a Member</a>
            <a href='/zooApp/the-shop/'>The Ninja Shop</a>
            <a href='/zooApp/animals/'>Meet the Animals</a>
        </nav>
    </header>
    <div class='main'>
        <h3>Shop Totals: <input type='text' disabled value='${{request.session.price}}'></h3>
        <a href='/zooApp/reset'><button>Reset</button></a>
        <div class='shopItems'>
            <div class='items'>
                <h4>Souvenirs</h4>
                <p>4-9 tickets</p>
                <form action='/zooApp/purchase/' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='categories' value='souvenirs'>
                    <button>Purchase Souvenirs</button>
                </form>
            </div>
            <div class='items'>
                <h4>Food</h4>
                <p>2-7 tickets</p>
                <form action='/zooApp/purchase/' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='categories' value='food'>
                    <button>Purchase Food</button>
                </form>
            </div>
            <div class='items'>
                <h4>T-Shirts</h4>
                <p>10-20 tickets</p>
                <form action='/zooApp/purchase/' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='categories' value='tShirts'>
                    <button>Purchase T-Shirts</button>
                </form>
            </div>
            <div class='items'>
                <h4>Stuffed Animals</h4>
                <p>5-15 tickets</p>
                <form action='/zooApp/purchase/' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='categories' value='stuffedAnimals'>
                    <button>Purchase Stuffed Animals</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        {% for p in footer %}
        <p>{{p}}</p>
        {% endfor %}
    </footer>
</body>
</html>