<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo App</title>
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/zooStyles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to our Zoo Application!</h1>
        <nav>
            <a href='/'>Main Project Home</a>
            <a href='/zooApp/'>Zoo Home</a>
            <a href='/zooApp/form/'>Become a Member</a>
            <a href='/zooApp/the-shop/'>The Ninja Shop</a>
        </nav>
    </header>
    <div class='main'>
        <h2>Welcome to {{zooName}}, we are located in {{zooLocation}}</h2>
        <h4>We have the following animals here:</h4>
        <ul>
            {% for animals in zooAnimals %}
                <li>{{animals}}</li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        {% for p in footer %}
        <p>{{p}}</p>
        {% endfor %}
    </footer>
</body>
</html>