<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Form</title>
</head>
<body>
    <h1>Test From</h1>
    <nav>
        <a href='/'>Home Page</a>
        <a href='/about/'>About page</a>
        <a href='/testForm/'>Test From</a>
    </nav>
    <form action="/" method="post">
  {% csrf_token %}
  <p>Field One: <input name="one" type="text"></p>
  <button type="submit">Submit</button>
</form>
</body>
</html>